

h3 {
  font-weight: 500;
}
@media only screen and (min-width: 900px) and (max-width:1400px){
  .measures {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (min-width: 1400px) and (max-width:2000px) {
  .measures {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}

@media only screen and (min-width: 2001px) {
  .measures {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}

.measure {
  display: flex;

  button {
    margin-top: 5px;
  }

  app-success-measure {
    width: 100%;
    flex-grow: 1;
    min-height: 83px;
    max-height: 500px;
  }
}

#add-measure-button {
  width: 100%;
  margin-top: 10px;
}

#factor-header {
  display: flex;
  flex-direction: row;
  #edit-button {
    margin-top: 5px;
  }
}
