@import 'src/styles';
@import '../visualization.component';

$primary: map-get($mobsos-evaluation-center-theme, primary);

.value-visualization {
  font-size: 2rem;
  font-weight: bold;
  color: mat-color($primary);
}
