@import '~@angular/material/theming';
@import '../../../styles';
@import '../visualization.component';

$primary: map-get($mobsos-evaluation-center-theme, primary);

.value-visualization {
  font-size: 2em;
  font-weight: bold;
  margin-right: 1rem;
  color: mat-color($primary);
}
#value-info{
 margin: auto;
 padding: 1rem
}
#value-row{
    display: flex;
    justify-content: left;
    align-items: flex-start
}