@import 'src/styles.scss';
@import '../visualization.component';

$primary: map-get($mobsos-evaluation-center-theme, primary);

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.value-visualization {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
  color: mat-color($primary);
}

.controls {
  margin-top: auto !important;
}
