mat-form-field {
  width: 100%;
}

mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}
.padding-right {
  padding-right: 1rem;
}

#hints {
  max-height: 30vh;
  overflow-y: scroll;
  mat-expansion-panel {
    margin-bottom: 5px;
    margin-top: 8px;
  }
}
#dialog_header {
  display: flex;
  justify-content: space-between;
}
app-sql-table {
  display: block;
  overflow-y: scroll;
}
#sqlInput {
  font-family: 'Roboto Mono';
}

button {
  margin-right: 7px;
}

::ng-deep .mat-chip-list-wrapper {
  overflow-x: auto;
  flex-wrap: nowrap !important;
}
::ng-deep .mat-horizontal-content-container {
  height: inherit;
}

::ng-deep .mat-horizontal-stepper-content {
  display: flex;
  flex-direction: column;
  height: inherit;
    
  mat-dialog-actions.first {
    justify-content: flex-end;
  }
  mat-dialog-actions:not(.first) {
    justify-content: space-between;
  }
}
