google-chart{
    max-width: 500px;
}

#chart-info{
 margin: auto;
 padding: 1rem
}
#chart-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}
.visualization-error{
  $loading-size: 4rem;

  width: $loading-size;
  height: $loading-size;
  line-height: $loading-size;

  mat-icon {
    font-size: $loading-size;
    width: $loading-size;
    height: $loading-size;
    line-height: $loading-size;
  }
}
