mat-card {
  margin-bottom: 5px;
  cursor: pointer;
}

.no-measure-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  mat-icon {
    margin-right: 10px;
  }
  span {
    flex-grow: 1;
  }
}
#create-measure-button {
  height: 3rem;
}

#edit-controls {
  display: flex;
  justify-content: flex-end;
}
.example-action-buttons {
  margin-bottom: 7px;
}
// .example-headers-align .mat-expansion-panel-header-title,
// .example-headers-align .mat-expansion-panel-header-description {
//   flex-basis: 0;
// }

.example-headers-align .mat-expansion-panel-header-description {
  align-items: center;
}
mat-panel-description {
  justify-content: flex-end;
  margin-right: 5px;
}
mat-panel-title {
  align-items: center;
  margin: 10px 0 10px 0;
}

mat-expansion-panel-header {
  height: 100%;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.measure-operations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
