.mat-table {
    display: table;
    width: 100%;

    
}

th.mat-sort-header-sorted {
  color: black;
  
}
.visualization-error {
  $loading-size: 4rem;

  width: $loading-size;
  height: $loading-size;
  line-height: $loading-size;
  
  mat-icon {
    font-size: $loading-size;
    width: $loading-size;
    height: $loading-size;
    line-height: $loading-size;
  }
  }