mat-icon[mat-card-avatar] {
  font-size: 40px;
}

.ml-auto{
  margin-left: auto;
}


table{
  th, td{
    text-align: center;
    vertical-align: middle;
  }
}
questionnaire-row{
  display: flex;
  justify-content:space-between
}