mat-icon[mat-card-avatar] {
  font-size: 40px;
}

#push-right {
  flex-grow: 1;
}

#add-questionnaire-icon {
  font-size: 40px;
  margin-left: -15px;
  margin-top: -3px;
}

#info-icon {
  margin-top: 5px;
}

table{
  th, td{
    text-align: center;
    vertical-align: middle;
  }
}
questionnaire-row{
  display: flex;
  justify-content:space-between
}