@import '../styles';

$primary: map-get($mobsos-evaluation-center-theme, primary);
$accent: map-get($mobsos-evaluation-center-theme, accent);


mat-sidenav-container {
  min-height: 100%;

  mat-sidenav {
    width: 250px;
    height: 100vh;
    background-color: mat-color($primary, darker);
    color: white;
    display: flex;
    flex-direction: column;

    .mat-drawer-inner-container {
      display: flex !important;
      flex-direction: column !important;
    }
    mat-form-field {
      ::ng-deep .mat-select-value {
        color: white;
      }
    }


    #groupsLoadingIndicator {
      margin: auto;
    }
    .mat-list-item,
    mat-label,
    mat-form-field,
    mat-select,
    mat-option,
    mat-hint {
      color: white !important;
    }

    mat-nav-list {
      flex: 1;
      padding-top: 0;
      a {
        color: white;
      }
    }

    footer {
      mat-slide-toggle {
        margin-left: 16px;
      }
    }
  }

  mat-sidenav-content {
    height: 100vh;
    #learning-layers-logo{
        background-color: white;
        background-image: url("https://raw.githubusercontent.com/rwth-acis/las2peer-frontend-user-widget/master/learning-layers.svg");
      background-size: 100% 100%;
      }
    #login-button{
      padding: 6px;
    }
    ::ng-deep .mat-button-wrapper{
      display: flex;
      align-items: center;
    }
    #login-button:hover {
      background-color: mat-color($primary, darker);
      transition: background-color 0.2s ease-in-out;
    }
  
    
    mat-progress-bar {
      top: 0;
      position: sticky !important;
      height: 6px;
      z-index: 999;
    }
    #las2peer-statusbar {
      --statusbar-background: #{mat-color($primary)};
      --user-widget-button-background: white;
      color: white;

    
      #menu-button {
        font-size: 30px;
      }
    }

    main {
      min-height: calc(100vh - 180px);
    }

    main {
      padding: 10px;
    }

    footer {
      margin: 10px 10px 0px 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      #las2peer-logo {
        height: 50px;
        margin: 5px;
      }
    }

    button[mat-icon-button] {
      font-size: 45px;
    }
  }
}
.mat-subheader {
  font-size: small !important;
  color: grey;
  padding-bottom: 10px;
}
.padding-1{
  padding: 1rem;
}
.active-link {
  background: rgba(0, 0, 0, 0.04);
}