.text_group {
    .text_404 {
        font-family: "Comic Neue", cursive;
        font-size: 10em;
        box-sizing: border-box;
        color: #363636;
    }

    .text_lost {
        font-family: "Comic Neue", cursive;
        font-size: 2em;
        line-height: 50px;
        box-sizing: border-box;
        color: #565656;
    }
}