@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import '../../../styles';
@import '../visualization.component';

$primary: map-get($mobsos-evaluation-center-theme, primary);

.value-visualization {
  font-size: 4em;
  font-weight: bold;
  color: mat.get-color-from-palette($primary);
}
