:host {
  //overflow-y: hidden;
}

h3 {
  font-weight: 500;
}
@media only screen and (min-width: 900px) {
  .measures {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.measure {
  display: flex;

  button {
    margin-top: 5px;
  }

  app-success-measure {
    width: 100%;
    flex-grow: 1;
    min-height: 83px;
    max-height: 500px;
  }
}

#add-measure-button {
  width: 100%;
  margin-top: 10px;
}

#factor-header {
  display: flex;
  flex-direction: row;
  #edit-button {
    margin-top: 5px;
  }
}
