@use '~@angular/material' as mat;

@include mat.core();

$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
 
@import '~material-design-icons-iconfont/src/material-design-icons';
@import '~material-design-icons/iconfont/material-icons.css';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import '~@angular/cdk/overlay-prebuilt.css';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mobsos-evaluation-center-primary:  mat.define-palette($mat-teal);
$mobsos-evaluation-center-accent:  mat.define-palette($mat-orange, A200, 100, A700);

h2 {
  margin: 5px;
}

svg > g > g:last-child {
  pointer-events: none;
} //prevent google charts label flickering
// The warn palette is optional (defaults to red).
$mobsos-evaluation-center-warn:  mat.define-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mobsos-evaluation-center-theme:  mat.define-light-theme(
  $mobsos-evaluation-center-primary,
  $mobsos-evaluation-center-accent,
  $mobsos-evaluation-center-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mobsos-evaluation-center-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-drawer-inner-container {
  display: flex !important;
  flex-direction: column !important;
}
.mat-list-item-disabled {
  background-color: rgba(160, 160, 160, 0.144) !important;
}
