::ng-deep {
  .mat-tab-label {
    width: 50%;
  }
}

.community-service-selection {
  width: 100%;
}

#measure-editor {
  height: calc(100vh - 185px);
}

#model-editor {
  height: calc(100vh - 250px);
}

.send-button {
  width: 100%;
}
