::ng-deep {
  .mat-tab-label {
    width: 50%;
  }
}

.community-service-selection {
  width: 100%;
}

#measure-editor {
  height: calc(100vh - 185px);
}

#model-editor {
  height: calc(100vh - 250px);
}


.send-button {
  width: 100%;
  position: relative;
  mat-spinner {
  top: 5px;
  margin: 0;
  padding: 0;
  position: absolute;
}
}

#notinit {
  margin-top: 20px !important;
  margin: auto;
}